
@model List<Event>

<script>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        var errorMessage = TempData["ErrorMessage"];
        <text>
            window.onload = function() {
                alert('@errorMessage');
            };
        </text>
    }
</script>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
        <th>Action</th> 
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EVENTS_name</td>
            <td>@item.EVENTS_desc</td>
            <td>@item.EVENTS_STtime.ToShortDateString()</td>
            <td>@item.EVENTS_ENDtime.ToShortDateString()</td>
            <td>@item.EVENTS_place</td>
            <td>

                <form asp-controller="Events" asp-action="EventsView" method="post">
                    <input type="hidden" name="eventId" value="@item.EVENTS_ID" /> <!-- Добавляем скрытое поле для передачи ID мероприятия -->
                    <button type="submit">Записаться</button>
                </form>
               
            </td>
        </tr>
    }
</table>



